/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.84rem;
}

img{
    width: 100%;
}

/* DEBUG */
.debug-img{
    width: 100%;
    height: 350px;
}

.partner-img-div{
    width: 50%;
}

.col-debug-img{
    width: 100%;    
    height: 208px;
    background-color:salmon;
    margin-bottom: 10px;
}

.enterprise-debug-img{
    background-color: darkred;
    border: 1px solid black;
    width: 50%;
    /* debug */
    height: 228px;
}

/* GENERAL */
nav{
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid #0000000d;
}

h1{
    font-size: 3rem;
    text-align: left;
}

img{
    width: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
}

footer{
    background-color: black;
}

/* UTILITY */
.bottom-col-spacing{
    margin: 20px 0;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.central-sect-container{
    width: 55%;
    max-width: 1100px;
    margin: 0 auto;
}

.title-size{
    font-size: 2rem;
    margin-bottom: 30px;
}

.no-margin{
    margin: 0;
}

.margin-top{
    margin-top: 25px;
}

.partner-text-margin{
    margin-top: 50px;
    margin-left: 50px;
}

.hr{
    width: 60px;
    border: 1px solid #d3d3d35e;
}

.blue-btn{
    background-color: cornflowerblue;
}

/* CLASSES  */
.title{
    font-size: 5rem;
    margin: 100px 0 30px;
}

.left-nav{
    width: 50%;
}

.right-nav{
    width: 50%;
    justify-content: flex-end;
}

.logo{
    display: inline-block;
    width: 15%;
    margin: auto 0 auto 10px;
}

.list{
    width: 50%;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.6rem;
}

.list > li > a{
    text-decoration: none;
    color: black;
}

.top-btn{
    font-size: 0.6rem;
    color: white;
    background-color: #6054eb;
    width: 6%;
    margin: 15px 10px 15px 0;
    padding: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
}

.jumbotron{
    margin: 0 auto 7rem;
    background-color: #b6cfe7;
}

.buttons{
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    color: white;
    background-color: #476fea;
    padding: 5px 30px;
    border: none;
    text-decoration: none;
    display: inline-block;
}

.jumbo-btn{
    width: 60%
}

.jumbo-container{
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.jumbo-text-section{
    width: 100%;
    justify-content: space-between;
}

.jumbo-text-section > .jumbo-paragraph, .jumbo-btn{
    margin: 20px 0px;
    
}

.jumbo-left-text{
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.icon{
    font-size: 2.5rem;
    margin-top: 100px;
}

.plan-list{
    margin-bottom: 40px;
    gap: 50px;
    list-style-type: none;
}

.businessplan-row{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.col{
    width: calc(100% / 3 - 30px);
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid lightgrey;
}

.col-title{
    font-size: 1rem;
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

.card-ul > li{
    display: flex;
    margin: 15px 0;
    list-style-type: none;
    align-items: baseline;
}

.bottom-card-ul > li{
    display: flex;
    margin-top: 15px;
}

.bottom-card-ul > li:last-child{
    margin-bottom: 15px;
}

.card-ul > li > i, .bottom-card-ul > li > i{
    margin-right: 5px;
}

.col-container{
    width: 80%;
    max-width: 1100px;
    margin: 20px auto;
}

.col-top-sect{
    margin-top: 20px;
    font-size: 1.5rem;
    line-height: 35px;
}

.col-plan-name{
    font-size: 1.8rem;
}

.check{
    color: rgb(70, 91, 255);   
}

.plan-time{
    color: grey;
}

.col-cntr-sect{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col-bottom-sect{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.businessplan-2ndrow{
    width: 100%;
    justify-content: center;
    margin-bottom: 80px;
    border: 1px solid lightgrey;
}

.bottom-col{
    margin: 20px 20px;
    justify-content: space-between;
}

.bottom-col-sx{
    width: 70%;
}

.bottom-col-sx > p{
    margin-top: 25px;
}

.bottom-col-dx > a{
    margin-top: 5px;
}

.partner-sect{
    margin-bottom: 80px;
}

.titles{
    font-size: 1.1rem;
}

.drop-busi-col > p{
    margin-top: 15px;
    margin-bottom: 50px;
}

.partner-text{
    width: 30%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.partner-button{
    width: 50%;
    padding: 5px 5px;
    background-color: white;
    border: 1px solid grey;
    color: black;
    text-align: center;
    text-decoration: none;
}

.drop-busi-sect{
    margin-bottom: 60px;
}

.drop-busi-row{
    flex-wrap: wrap;
    justify-content: space-between;
}

.drop-busi-col{
    width: calc(100% / 3 - 15px);
    flex-direction: column;
}

.drop-busi-totusers{
    margin-bottom: 110px;
    width: 60%
}

.bottom-sect-container{
    margin-top: 80px;
    margin: 0 auto;
}

.enterprises-quad{
    width: calc(100% / 2);
    flex-wrap: wrap;
}

.central-quad{
    width: calc(100% / 2);
    flex-direction: column;
    padding: 50px;
    background-color: #f1f1f1;
}

.under-logo-text{
    margin-bottom: 20px;
}

.central-quad-text{
    margin: 20px 0;
}

.trial-sect{
    background-color:cornflowerblue ;
    margin: 0 auto;
}

.trial-container{
    width: 60%;
    max-width: 1100px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 50px;
    padding: 50px 0;
}

.trial-container > h2{
    width: 50%;
}

.trial-container > span{
    margin-bottom: 30px;
}

.trial-container > span > .buttons{
    background-color: white;
    border: 1px solid #0000000d;
    color: black;
}

.trial-btn{
    background-color: white;
    border: 1px solid grey;
    padding: 5px 30px;
}

.question-row{
    justify-content: space-between;
    align-items: center;
}

.question-row > i{
    margin-right: 20px;
    font-size: 0.65rem;
}

.questions-container{
    width: 60%;
    max-width: 1100px;
    margin: 0 auto 50px;
}

.question{
    padding: 15px 0;
}

.footer-container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
    color: white;
    justify-content: space-between;
}

.footer-col{
    width: calc(100% / 5 - 10px);
}

.footer-col-titles{
    margin-bottom: 15px;
}

.footer-ul{
    font-size: 0.7rem;
    list-style-type: none;
}

.footer-ul > li{
    padding: 5px 0;
}

.footer-lang{
    max-width: 1100px;
    font-size: 0.65rem;
    color: grey;
    padding: 20px 0;
    margin: 0 auto;
}

.footer-lang > span{
    margin: 0 5px;
}

.footer-hr{
    width: 90px;
    margin-bottom: 20px;
    border: 1px inset #646464;
}