/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */
.debug-img{
    width: 100%;    
    height: 350px;                                                                                                                                         
    background-color: #0277BD;
    /* display: inline-block; */
}

.partner-debug-img{
    width: 100%;    
    height: 350px;                                                                                                                                         
    background-color:darkcyan;
}

.col-debug-img{
    width: 100%;    
    height: 208px;                                                                                                                                         
    background-color:salmon;
    margin-bottom: 15px;
}

/* GENERAL */
nav{
    /* debug */
    height: 50px;
    background-color: blanchedalmond;
}

h1{
    font-size: 3rem;
    text-align: center;
}

img{
    width: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* UTILITY */
.flex{
    display: flex;
}

.central-sect-container{
    width: 50%;
    margin: 0 auto;
}

/* CLASSES  */
.title{
    font-size: 4rem;
}

.left-nav{
    /* debug */
    background-color: #4ef154;
    height: 50px;

    width: 50%;
}

.right-nav{
    /* debug */
    background-color: #4EC5F1;
    height: 50px;

    width: 50%;
    justify-content: flex-end;
}

.logo{
    /* debug */
    background-color: #808080;
    height: 50px;

    display: inline-block;
    width: 10%;
}

.list{
    width: 30%;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
}

.top-btn{
    font-size: 0.7rem;
    color: white;
    background-color: #6054eb;
    width: 6%;
    margin: 15px 10px 15px 0;
    border: none;
}

.jumbotron{
    /* debug */
    background-color: #af4d61;

    margin-bottom: 7rem;
}

.buttons{
    font-size: 0.7rem;
    color: white;
    background-color: #6054eb;
    width: 70%;
    padding: 10px 5px;
    border: none;
}

.jumbo-paragraph{
    font-size: 0.85rem;
    justify-content: flex-start;
}

.jumbo-container{
    margin: 0 auto;
    width: 70%;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.jumbo-text-section{
    width: 100%;
    /* flex-direction: column;
    flex-wrap: wrap; */
}

.jumbo-text-section > .jumbo-paragraph, .jumbo-btn{
    margin: 20px 0px;
}

.jumbo-left-text{
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
}

.icon{
    font-size: 2.5rem;
    /* justify-self: flex-end; */
}

/* .plan-title-section{

} */

.plan-title{
    margin-bottom: 50px;
    font-size: 1.8rem;
}

.plan-list{
    margin-bottom: 40px;
    gap: 50px;
    list-style-type: none;
}

.businessplan-row{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.col{
    width: calc(100% / 3 - 10px);
    flex-direction: column;
    justify-content: flex-start;
    /* debug */
    height: 500px;
    background-color: chocolate;
}

.col-title{
    /* debug */
    background-color:darkorange;

    padding: 15px 0;
    text-align: center;
}

.col-container{
    width: 80%;
    margin: 0 auto;
}

.col-top-sect{
    /* debug */
    background-color: blueviolet;

    font-size: 1.5rem;
}

.col-plan-name{
    font-size: 1.3rem;
}

.plan-time{
    color: lightgrey;
}

.col-cntr-sect{
    /* debug */
    background-color:deeppink;

    display: flex;
    flex-direction: column;
}

.col-bottom-sect{
    /* debug */
    background-color:darkcyan;

    display: flex;
    flex-direction: column;
}

.businessplan-2ndrow{
    /* debug */
    background-color: lime;
    width: 100%;
    justify-content: center;
    margin-bottom: 60px;
}

.bottom-col-title{
    /* debug */
    background-color:darkorange;

    padding: 15px 0;
    text-align: center;
}

.bottom-col{
    /* debug */
    /* background-color:darkorange; */

}

.bottom-col-sx{
    width: 60%;
}

.partner-sect{
    margin-bottom: 60px;
}

.titles{
    font-size: 0.9rem;
}

.partner-text{
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.partner-button{
    width: 50%;
    padding: 10px 5px;
    background-color: white;
    border: 1px solid grey;
}

.drop-busi-sect{
    margin-bottom: 60px;
}

.drop-busi-row{
    flex-wrap: wrap;
    justify-content: space-between;
}

.drop-busi-col{
    width: calc(100% / 3 - 15px);
    /* debug */
    /* height: 500px; */
    flex-direction: column;
}